<launch>

	<node pkg="gmapping" type="slam_gmapping" name="gmapping_group9">

	<param name="delta" type="double" value="0.45" />
	<param name="xmin" type="double" value="-3.0"/>
	<param name="ymin" type="double" value="-3.0"/>
	<param name="xmax" type="double" value="3.0"/>
	<param name="ymax" type="double" value="3.0"/>

	</node>


</launch>
