<!-- maze.launch: launch stage with a maze_solver node -->

<launch>

    <node pkg="stage_ros" type="stageros" name="stageros" args="$(find robotcraft_maze)/world/robotcraft_maze.world" />
    <include file="$(find robotcraft_maze)/launch/gmapping.launch"/>
    <include file="$(find robotcraft2019_robot_description)/launch/display_robotcraft2019.launch"/>
    
    <!-- Don't forget to create and compile your node and add it here -->

    <node pkg="robotcraft_maze" type="robotcraft_maze_reactive_nav" name="robotcraft_maze_reactive_nav" output="screen"/>
    <node pkg="robotcraft_maze" type="robotcraft_maze_driver" name="robotcraft_maze_driver" output="screen"/>

    <!-- Set desired wall to choose which side to follow: 1.0 is right wall, 0.0 is left wall -->
    <param name="desired_wall" type="double" value="0.0" />
    <param name="desired_linear_velocity" type="double" value="0.075" />
  	<param name="desired_side_wall_distance" type="double" value="0.41" />
	<param name="front_obstacle_distance_threshold" type="double" value="0.3" />
	<param name="k_p" type="double" value="0.5" />
	<param name="k_i" type="double" value="0.1" />

</launch>  

